@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=BioRhyme:wdth,wght@100..125,200..800&family=Oswald:wght@400;600;700&family=Russo+One&family=Roboto:wght@300;400;500;700&family=Montserrat:wght@400;600;700&family=Sofia+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* @font-face {
  font-family: "Techno";
  src: url("/fonts/Tr2n.ttf") format("truetype");
} */

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-oswald: "Oswald", sans-serif;
  --font-biorhyme: "BioRhyme", serif;
  --font-russo: "Russo One", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-bebas: "Bebas Neue", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-sofiasans: "Sofia Sans", sans-serif;

  --color-dark: #121212;
  --color-light: #ffffff;
  --color-primary-dark: #eaeaea;
  --color-primary-light: #222222;
  --color-secondary: #b0b0b0;
  --color-accent-red: #ff6f61;
  --color-accent-dark-red: #b22222;
}

body {
  @apply bg-light text-primary-light transition-colors duration-300 overflow-x-hidden w-full;
}

/* Dark Mode */
.dark body {
  @apply bg-dark text-primary-dark;
}

/* .nav-active {
  @apply text-accent-red;
}

.nav-active span {
  @apply bg-accent-red max-w-full;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply leading-none;
}
p {
  @apply leading-normal tracking-normal font-sofiasans;
}

@layer utilities {
  /* .mask-custom {
      -webkit-mask-image: url('/public/batman.png');
      mask-image: url('/public/batman.png');
      -webkit-mask-size: contain;
      mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-position: center;
      mask-position: center;
    }
      */

  .mask-fade {
    -webkit-mask-image: linear-gradient(
      to bottom,
      transparent,
      black 15%,
      black 85%,
      transparent 100%
    );
    mask-image: linear-gradient(
      to bottom,
      transparent,
      black 15%,
      black 85%,
      transparent 100%
    );
  }

  .logo {
    color: white;
    mix-blend-mode: difference;
  }

  .clip-path {
    clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
  }

  .cta-button {
    position: relative;
    clip-path: polygon(5% 0, 100% 0, 100% 80%, 95% 100%, 0 100%, 0 20%);
    z-index: 1;
  }

  .cta-button::after {
    content: "";
    position: absolute;
    inset: -2px;
    clip-path: polygon(5% 0, 100% 0, 100% 80%, 95% 100%, 0 100%, 0 20%);
    backdrop-filter: brightness(2);
    z-index: -1;
    transition: all 0.5s ease;
  }
  .cta-button:hover {
    padding-inline: 24px;
    /* transform: translateX(2px) translateY(-2px); */
  }
  .cta-button:hover::after {
    transform: translateX(6px) translateY(-6px);
    /* background-color: var(--color-red-700); */
    /* background: linear-gradient(120deg, red, var(--color-accent-red), red); */
    /* background: linear-gradient(90deg, navy, var(--color-accent-dark-red)); */
    /* border: 2px solid var(--color-primary-dark); */
  }

  .cta-arrow {
    animation: cta-arrow 2s infinite;
  }

  .demo-button {
    position: relative;
    clip-path: polygon(5% 0, 100% 0, 100% 90%, 95% 100%, 0 100%, 0 10%);
    z-index: 1;
  }

  /* .demo-button:hover {
    transform: translateX(2px) translateY(0);
  } */

  .demo-button::after {
    content: "";
    position: absolute;
    background: var(--color-dark);
    mix-blend-mode: difference;
    inset: -2px;
    clip-path: polygon(5% 0, 100% 0, 100% 90%, 95% 100%, 0 100%, 0 10%);
    z-index: -1;
    transition: all 0.5s ease;
  }

  .demo-button:hover {
    padding-inline: 32px;
  }

  .demo-button:hover::after {
    transform: translateX(6px) translateY(-6px);
    /* background: linear-gradient(120deg, red, var(--color-accent-red), red); */
    border: 1px solid white;
  }

  .project-card {
    position: relative;
    clip-path: polygon(3% 0, 100% 0, 100% 95%, 97% 100%, 0 100%, 0 5%);
    z-index: 1;
  }

  .project-container::after {
    content: "";
    position: absolute;
    inset: -1px;
    clip-path: polygon(3% 0, 99% 1%, 100% 95%, 97% 100%, 1% 99%, 0 5%);
    backdrop-filter: brightness(2);
    z-index: -1;
  }

  .scroll-hide::-webkit-scrollbar {
    display: none;
  }
  .scroll-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .vertical-rl {
    -ms-writing-mode: bt-lr;
    writing-mode: bt-lr;
  }

  .columnI {
    animation: grow;
  }

  .contact-left {
    display: flex;
    width: fit-content;
    gap: 12px;
    align-items: center;
  }
}

@layer base {
  @keyframes grow {
    0%,
    100% {
      height: 10%;
    }
    50% {
      height: 100%;
    }
  }
  @keyframes shrinkFade {
    0% {
      height: 10%;
    }
    100% {
      height: 0%;
      opacity: 0;
      display: none;
    }
  }
  @keyframes cta-arrow {
    0% {
      transform: translateX(0) translateY(0);
    }
    50% {
      transform: translateX(4px) translateY(0);
    }
    100% {
      transform: translateX(0) translateY(0);
    }
  }
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
}
