@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=BioRhyme:wdth,wght@100..125,200..800&family=Oswald:wght@400;600;700&family=Russo+One&family=Roboto:wght@300;400;500;700&family=Montserrat:wght@400;600;700&family=Sofia+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-oswald: "Oswald", sans-serif;
  --font-biorhyme: "BioRhyme", serif;
  --font-russo: "Russo One", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-bebas: "Bebas Neue", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-sofiasans: "Sofia Sans", sans-serif;

  --color-dark: #121212;
  --color-light: #ffffff;
  --color-primary-dark: #eaeaea;
  --color-primary-light: #222222;
  --color-secondary: #b0b0b0;
  --color-accent-red: #ff6f61;
  --color-accent-dark-red: #b22222;
}

body {
  @apply bg-light text-primary-light transition-colors duration-300 overflow-x-hidden;
}

/* Dark Mode */
.dark body {
  @apply bg-dark text-primary-dark;
}

/* .nav-active {
    @apply text-accent-red;
  }

  .nav-active span {
    @apply bg-accent-red max-w-full;
  } */
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply leading-none;
}
p {
  @apply leading-normal tracking-normal font-sofiasans;
}

@layer utilities {
  /* .mask-custom {
      -webkit-mask-image: url('/public/batman.png');
      mask-image: url('/public/batman.png');
      -webkit-mask-size: contain;
      mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-position: center;
      mask-position: center;
    }
      */

  .logo {
    color: white;
    mix-blend-mode: difference;
  }

  .clip-path {
    clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
  }

  .project-card {
    position: relative;
    clip-path: polygon(3% 0, 100% 0, 100% 95%, 97% 100%, 0 100%, 0 5%);
    z-index: 1;
  }

  .project-container::after {
    content: "";
    position: absolute;
    inset: -1px; /* thickness of the border */
    /* background: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0.1) 5%,
      transparent 20%,
      transparent 80%,
      rgba(255, 255, 255, 0.1) 95%
    ); */
    clip-path: polygon(3% 0, 99% 1%, 100% 95%, 97% 100%, 1% 99%, 0 5%);
    backdrop-filter: brightness(2);
    z-index: -1;
  }

  .scroll-hide::-webkit-scrollbar {
    display: none;
  }
  .scroll-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .vertical-rl {
    -ms-writing-mode: bt-lr;
    writing-mode: bt-lr;
  }

  .columnI {
    animation: grow;
  }
}

@layer base {
  @keyframes grow {
    0%,
    100% {
      height: 10%;
    }
    50% {
      height: 100%;
    }
  }
  @keyframes shrinkFade {
    0% {
      height: 10%;
    }
    100% {
      height: 0%;
      opacity: 0;
      display: none;
    }
  }
}
